.wrapper hr {
    margin-bottom: 2em;
    margin-top: 0.15em;
}

.sidebar-wrapper {
    position: absolute;
    top: 13%;
    left: 0;
    // width: 23%;
    // height: 100vh;
    overflow-y: auto;
    z-index: 1;
    width: 20%;
    height: 90vh;
    background: #fff;
}

.sidebarBodyTitle {
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    text-align: center;
    p {
        // display: inline;
        padding: 0 10px;
        padding-top: 8px;
        padding-bottom: 8px;
        background: transparent;
        color: #5f5f5f;
        font-weight: bold;
        // box-shadow: 2px 7px 18px 1px rgba(95, 95, 95, 0.76);
        border-radius: 5px;
        transition: 1s;
        text-align: left;
    }
}

.sidebarElements {
    width: 100%;
    padding: 25px 0;
}

.item {
    font-size: 16px;
    width: 100%;
    padding: 0;
    // height: 20%;
    // padding-left: 30px;
    span {
        margin-right: 20px;
    }
}

.item,
.item span {
    min-height: 50px;
    line-height: 2.7;
}

.btn-container {
    margin-bottom: 25px;
}

// an attempt to make it a bit responsive
@media screen and (max-width: '1100px') {
    .sidebar-wrapper {
        width: 25%;
    }
}