<div class="modal fade" id="createRelationModal" tabindex="-1" role="dialog" [attr.aria-labelledby]="createNodeModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="createNodeModalTitle">Delete</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
          </div>
          <div class="modal-body">
              <b class="modal-text" style="font-size: 17px; font-weight:500;">This is create relation modal</b>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn ui-button-text later" data-dismiss="modal">Maybe Later</button>
              <button type="button" class="btn btn-danger" (click)="submitDelete(deleteContext)" id="del_btn">Close</button>
          </div>
      </div>
  </div>
</div>