<visualizer-color-panel></visualizer-color-panel>
<visualizer-toolbar [editData]="editNodeData" [editRelData]="editRelationData" [nodeLimit]="nodeLimitValue['limit']" [selectedCount]="selectedCount" (nodeLimitEnterEvent)="sendLimitToSidebar($event,true)" (nodeLimitEvent)="sendLimitToSidebar($event)"></visualizer-toolbar>
<div class="graph-container" id="graphViewer">
</div>

<ng-template let-popup #popupTemplate>
    <div class="header">Rating</div>
    <div class="content">
        <sui-rating class="star" (click)="popup.close()"></sui-rating>
    </div>
</ng-template>