.container-fluid .btn-group {
    margin-right: 20px;
    button {
        border-radius: 0;
        background: #e4e4e4;
        color: #000;
        -webkit-box-shadow: 2px 9px 17px -1px rgba(204, 204, 204, 1);
        -moz-box-shadow: 2px 9px 17px -1px rgba(204, 204, 204, 1);
        box-shadow: 2px 9px 17px -1px rgba(204, 204, 204, 1);
    }
    button:active {
        box-shadow: none;
        transition: 0.5s;
    }
}

.btn-group:active {
    outline: none;
    text-decoration: none;
}