<div class="modal fade" id="createNodeModal" tabindex="-1" role="dialog" [attr.aria-labelledby]="createNodeModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="createNodeModalTitle">Delete</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
          </div>
          <div class="modal-body">
              <form class="createNewNodeTypeForm" [formGroup]="createNodeFormGroup" (ngSubmit)="storeNewType()">
                <label class="createLabel">This is the label</label>
                <div class="ui input" [ngClass]="{'error': newNodeType?.invalid || newNodeType?.touched}">
                    <input type="text" placeholder="Search..." class="createLabel" formControlName="newNodeType">
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn ui-button-text later" data-dismiss="modal">Maybe Later</button>
              <button type="button" class="btn btn-primary create" (click)="storeNewType()" [disabled]="createNodeFormGroup?.controls?.newNodeType?.value === ''">Create</button>
          </div>
      </div>
  </div>
</div>